

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    
  }
  
  header {
    background-color: #575252;
    color: #9b9393;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  button {
    padding: 8px 12px;
    background-color: #161414f0;
    border-radius: 8px;
    color: #beb2b2;
    cursor: pointer;
  }
  
  #current-image-container {
    margin-bottom: 20px;
    background-color: #0c0c0c;
    color: white;
    padding: 5%;
    border-radius: 20px;
  }
  
  #current-image {
    max-width: 100%;
    
  }
  #current-image img{
    max-width: 100%;
    align-self: center;
    
  }
  
  #search-history {
    list-style-type: none;
    padding: 0;
  }
  
  #search-history li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  #search-history li:hover {
    text-decoration: underline;
  }
  